/* RESET */


/* CONTAINER */
.container {
    width: 100%;
  display: flex;
  min-height: 100vh;
  background: #f4f6f9;
  padding: 40px;
  gap: 25px;
}

/* LEFT CONTENT */
.content {
  flex: 2;
  background: white;
  padding: 60px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  flex-grow: 4;
 
}

.content h2 {
  margin-bottom: 10px;
  color: #222;
}

.content p {
  margin-bottom: 25px;
  color: #666;
}

.content label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

.content input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.2s;
}

.content input:focus {
  border-color: #3b82f6;
}

/* BUTTONS */
.buttons {
  margin-top: 25px;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.cancel {
      width: 100px;
    height: 40px;
  background: #e5e7eb;
}

.cancel:hover {
  background: #d1d5db;
}

.update1 {
    margin-top:3px ;
    width: 100px;
    height: 40px;
  background: #3b82f6;
  color: white;
}

.update:hover {
  background: #2563eb;
}

/* RIGHT PANEL */
.right {
  flex: 1;
  background: white;
  padding: 130px 40px 40px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  width: 30%;
  flex-grow: 1;
}

.right h3 {
  margin-bottom: 8px;
}

.right h4 {
  margin-top: 20px;
}

.right p {
  color: #666;
  margin-bottom: 10px;
}

.right button {
  background: #10b981;
  color: white;
}

.right .disable {
  background: #ef4444;
}

.right button:hover {
  opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}